<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <title>Sistema Turnero</title>
        <style>
            body{
                background-color: gray;
            }
            #main-container{
                width: 70%;
                margin: 0 auto;
                margin-top: 5%;
                background-color: white;
                padding: 20px;
                border-radius: 10px;
            }
            #gestion-administracion-operador{
                background-color: rgba(61, 224, 194, 0.785);
                padding: 20px;
                border-radius: 10px;
            }
            #gestion-colas{
                background-color: mistyrose;
                padding: 20px;
                border-radius: 10px;
            }
            #columns{
                display: flex;
                justify-content: space-around;
            }
            #div-mensaje{
                display: none;
            }
            #modal-elements{
                display: flex;
            }
            .margin-top{
                margin-top: 1rem;
            }
            #form-add-ticket{
                display: flex;
                justify-content: center;
            }
            #terminar-turno{
                display: flex;
                justify-content: center; 
            }
            .border-top-left-radius{
                border-top-left-radius: 10px;
            }
            .border-top-right-radius{
                border-top-right-radius: 10px;
            }
            .border-bottom-left-radius{
                border-bottom-left-radius: 10px;
            }
            .border-bottom-right-radius{
                border-bottom-right-radius: 10px;
            }
        </style>
    </head>
    <body>
        <div id="main-container">
            <div class="row">
                <h1 class="text-center" style="padding-bottom: 10px;">Sistema Turnero</h1>
            </div>
            <div class="row" id="columns">
                <div class="col-md-4 align-self-start" id="gestion-administracion-operador">
                    <h4>Buscar cliente</h4><br>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-8">
                                <input type="number" class="form-control" name="ci" placeholder="CI.." min="0" required value="{{ci}}"/>
                            </div>
                            <div class="col-md-3">
                                <input type="submit" value="Buscar" class="btn btn-secondary" id="btn-buscar"/>
                            </div>
                        </div>
                    </form>
                    {% if ci %}
                        {% if cliente %}
                            <h4 class="text-center margin-top">Cliente</h4>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </form>
                            <div id="priority-container">
                                <label>Prioridad</label>
                                <select class="form-select" id="select-prioridad">
                                    {% for prioridad in prioridades %}
                                        <option value="{{ prioridad.id }}">{{ prioridad.description }}</option> 
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="services-container" class="margin-top">
                                <label>Servicios</label>
                                <select class="form-select" id="select-servicio">
                                    {% for servicio in servicios %}
                                        <option value="{{ servicio.id }}">{{ servicio.name}}</option> 
                                    {% endfor %}
                                </select>
                            </div>
                            <form method="post" action="{% url 'add-ticket'%}" id="form-add-ticket"> 
                                {% csrf_token %}
                                <input type="hidden" name="id_cliente" value="{{ cliente.id }}">
                                <input type="hidden" id='id_prioridad' name="id_prioridad"/>
                                <input type="hidden" id='id_servicio' name="id_servicio"/>
                                {% verbatim %}
                                    <script>
                                        let select_prioridad = document.getElementById('select-prioridad');
                                        let selectedValuePrioridad = document.getElementById('select-prioridad').value;
                                        document.getElementById('id_prioridad').value = selectedValuePrioridad;
                                        select_prioridad.addEventListener('change', function() {
                                            selectedValuePrioridad = select_prioridad.value;
                                            document.getElementById('id_prioridad').value = selectedValuePrioridad;
                                            console.log('id prioridad:', selectedValuePrioridad);
                                        });
                                        let select_servicio = document.getElementById('select-servicio');
                                        let selectedValueServicio = document.getElementById('select-servicio').value;
                                        document.getElementById('id_servicio').value = selectedValueServicio;
                                        select_servicio.addEventListener('change', function() {
                                            selectedValueServicio = select_servicio.value;
                                            document.getElementById('id_servicio').value = selectedValueServicio;
                                            console.log('id servicio:', selectedValueServicio);
                                        });
                                    </script>
                                {% endverbatim %}
                                <button class="btn btn-warning margin-top btn-generar-ticket ">Generar Ticket</button>
                            </form>
                        {% else %}
                            <p class="margin-top">No se encontraron resultados para ci = "{{ ci }}".</p>
                            <form method="post" action="{% url 'add-client'%}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-success">Registrar cliente</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-7" id="gestion-colas">
                    <div id="title-container" class="row">
                        <h4>Cola</h4><br>
                    </div>
                    <div id="table-container" class="row">
                        <table class="table text-center" id="tabla">
                            <thead class="esquinas-redondeadas">
                                <tr>
                                    <th {% if not cola %}  class="border-top-left-radius border-bottom-left-radius" {% else %} class="border-top-left-radius" {% endif %} >Nr. Ticket</th>
                                    <th>Cliente</th>
                                    <th>Prioridad</th>
                                    <th>Servicio</th>
                                    <th {% if not cola %} class="border-bottom-right-radius border-top-right-radius" {% else %} class="border-top-right-radius" {% endif %}>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for fila in cola %}
                                <tr>
                                    <td {% if forloop.last %} class="border-bottom-left-radius" {% endif %}>{{ fila.nro_ticket }}</td>
                                    <td>{{ fila.cliente }}</td>
                                    <td>{{ fila.prioridad }}</td>
                                    <td>{{ fila.servicio }}</td>
                                    <td{% if forloop.last %} class="border-bottom-right-radius" {% endif %}>{{ fila.time }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <form method="post" action="{% url 'pop-cola'%}" id="terminar-turno">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Terminar Turno</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" id="div-mensaje">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">INFO</h5>
                        <button type="button" class="btn-close cerrar-modal" data-bs-dismiss="modal" aria-label="Close" ></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ mensaje_modal }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary cerrar-modal" data-bs-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

        {% if mensaje_modal %}
        <script>
            let div_mensaje = document.getElementById('div-mensaje');
            div_mensaje.style.display = 'block';     
        </script>
        {% endif %}

        {% verbatim %}
            <script>                
                const elementos = document.querySelectorAll('.cerrar-modal');
                elementos.forEach(elemento => {
                    elemento.addEventListener('click', () => {
                        let div_mensaje = document.getElementById('div-mensaje');
                        div_mensaje.style.display = 'none';

                        fetch('http://localhost:8000/eliminar-mensaje-modal')
                            .then(response => response.json())
                            .then(data => {
                                console.log(data.mensaje);
                            })
                            .catch(error => {
                                console.error('Error al eliminar la variable:', error);
                            });
                    });
                });
            </script>
        {% endverbatim %}

    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>